@import 'base/variable';
@import 'base/mixin';
@import 'base/border';
@import 'base/normalize';
@import 'base/reset';
@import 'instagram/instagram';
@import 'components';
body,
html,
#app {
    width: 100%;
    height: 100%;
    background: #fbfbfb;
    min-height: 100vh;
    overflow: hidden;
}

#app {
    font-family: PingFangSC-Semibold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $txt-default;
    overflow-y: auto;
}
html {
    @include root-font-size();
}

button,
input {
    border: 0;
    outline: none;
    text-decoration: none;
}
input[type='text'],
textarea {
    -webkit-appearance: none;
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only;
}
input::-webkit-search-cancel-button {
    display: none;
}
